{:kotoba.app/id "cloud.itonami.isic-2930", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigksahqy4p6fooyqqblizslxpb5yktzm65seaai26k3isgdohjw6y", :kotoba.app/embed-url "ipfs://bafkreigksahqy4p6fooyqqblizslxpb5yktzm65seaai26k3isgdohjw6y", :published {:archive "https://kotobase.net/ipfs/bafkreigksahqy4p6fooyqqblizslxpb5yktzm65seaai26k3isgdohjw6y", :size 72650, :put-status 201, :get-status 200, :at "2026-08-15T13:49:07.126Z"}}
